.headline {
	font-size: 1.1rem;
	font-weight: 300;
	color: $mainBlack;

	@mixin atSmall {
		font-size: 2.0rem;
	}

	&--centered {
		text-align: center;
	}

	&--red {
		color: $mainRed;
	}

	&--small {
		font-size: 0.9rem; 

	@mixin atSmall {
		font-size: 1.4rem; 
	}
	}

	&--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	&--b-margin-small {
		margin-bottom: .5em;
	}

	&--b-margin-large {
		margin-bottom: 1.6em;
	}
}