.large-hero {
	/*border-bottom: 10px solid $mainBlack;*/
	position: relative;

	&__image {
		display: block;
	}


	&__text-content {
	    position: absolute;
	    top: 0;
	    transform: translateY(0);  /*may not be necessary after all*/
	    left: 0;
	    width: 100%;
	    text-align: center;
	    margin-left: auto;
	    margin-right: auto;
	  }


	&__title {
		font-weight: 300;
		color: #FFF;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .95);
		margin: 0;
		font-size: 1.1rem;	



		/*media queries to add responsiveness to different sized screens*/

		@mixin atSmall {
			font-size: 2.4rem; 
		}

		/*@mixin atMedium {
			font-size: 3.2rem; 
		}*/

		/*@mixin atLarge {
			font-size: 3.8rem; 
		}*/
		
	}

	&__subtitle {
		font-weight: 300;
		color: #FFF;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .95);
		margin: 0;
		font-size: 0.9rem;

		/*media queries to add responsiveness to different sized screens*/

		@mixin atSmall {
			font-size: 1.4rem; /* what is going on here?*/
		}

		/*@mixin atMedium {
			font-size: 1.8rem;} /* what is going on here?*/
		

		/*@mixin atLarge {
			font-size: 2rem; 
		}*/
	}
}  /*end .large-hero*/



