.visualizations {

	/*&--container {
		display: flex;
		justify-content: center;
		max-width: 45%%;
	} */

	

	/*.visualizations--section1 {
		border: 1px solid #fff;
  		width: 900px;
  		display: flex;
  		justify-content: flex-start;
  		
	}

	.visualizations--section2 {
		background-color:#7887AB;
    flex-grow: 1;

	}*/

	/*.visualizations--container {
		display: flex;
		justify-content: center;
	}

	.visualizations--containerGrid {
		width: 900px;
		display: flex;
		justify-content: flex-start;
	}

	.visualizations--containerGrid-item {
		border-bottom: 1px solid red;
	}*/
}

.visualizationHeading-container {
	background-color: $mainGray;
	padding: 0 0;
	display: flex;
	justify-content: center;
}

.visualizationHeading {
	border: 1px solid $mainBlack;  /*for debugging*/
	display: flex;
  	justify-content: space-between;
}

.visualization-container {
	background-color: $mainGray;
	padding: 20px 0;
	display: flex;
	justify-content: flex-start;
}

.visualization {
	border: 1px solid $mainBlack;  /*for debugging*/
	display: flex;
  	justify-content: space-between;
}


